.line li{
    display: inline-block;  
    margin-right: 20px; 
    width: 50px;  
    height: 50px;
    background-color: #eda1a1;
    text-align: center;
    line-height: 50px;
}
.links a{
    display: block;
    width: 200px;
    height: 40px;
    background-color: #3366ff;
    color: white;
    text-decoration: none;
    text-align:center;
    line-height: 40px;
    margin: 5px;
}
.blocks div{
    display: inline;
    width: 50px;
    height: 50px;
    background-color: #ff4d4d;
    text-align: center;
    line-height: 50px;
    margin: 20px; /*внешний отступ*/
    padding: 15px; /*внут отступ*/
}
.blocks {
    margin-top: 15px;
} /*отступ*/

.links-markers a{
    display: list-item;
    list-style-type: square;
    background-color: black;
    color:white;
    width: 200px;
    height: 34px;
    text-align: center;
}
.links-markers{
    margin-top: 15px;/*внешний отступ сверху*/
}
.post1,
.post2{
  background:darkred;
  color:white;
  padding:20px;
  margin:20px;
}

.post1 .image,
.post2 .image{
  width:100px;
  height:100px;
  background-size:cover;
  background-position:center;
  border:2px dashed #930303;
}

.post1 .image{ background-image:url("media/weather-sun.jpg"); }
.post2 .image{ background-image:url("media/weather-sun.jpg"); }


.post1 .image{
  float:left;
  margin:15px;
}

.post2 .image{
  float:right;
  margin:15px;
}
 .menu ul {
    list-style: none;
    margin: 40px 0;
    background-color: #c1eaee;
    display: flex;  
}
.menu a {
    display: block;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 18px;
    padding: 12px 10px;
    text-align: center;
}
    
