/* Общий контейнер страницы */
.wrapper {
    width: 800px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 0 20px;
}
.logo{
    width: 70px;            
    height: 70px;           
    margin: 8px 0;  
}
body{
   background-color: rgb(206, 229, 245);
   font-size: 18px;
}
/* Блок с логотипом и названием сайта */
.header {
    display: flex;
    align-items: center;
    padding: 15px 0;
    border-bottom: 2px solid #b6cfec;
}

.header h1 { /*Верхний заголовок*/
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 26px;
    color:#B0E0E6;
}

/*  Меню */
.menu ul {
    list-style: none;
    margin: 40px 0;
    background-color: #ccf0f3;
    display: flex;  
}
.menu a {
    display: block;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 18px;
    padding: 12px 10px;
    text-align: center;
}

.menu a:hover {
    background-color: #dbd4bc;
}

.content-section p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    text-align: justify;
    color: #333;
    margin: 0 0 15px 0;
}
.article-image {
    float: left;
}
.news{
    border: 1px solid #B0E0E6;
    margin-bottom: 20px;
}
