body {
    background:#E6E6FA ;
}
.header {
    background:#D8BFD8;
    text-align: center;
    color: antiquewhite;
}
h1 {
    font-size: 24px
}
h2 {
    font-size: 20px;
}
h3{
    font-size: 18px;
}
h4{
    font-size: 16px;
}
