/*картинки для новостей*/
.new1 {
    background: url(../img/img\ n1.jpg);
    background-size: cover;
    background-position: center;
    display: block;
    height: 200px;
    width: 200px;
    margin: 10px 0;
}
.new2 {
    background: url(../img/new3.webp);
    background-size: cover;
    background-position: center;
    display: block;
    height: 200px;
    width: 200px;
    margin: 10px 0;
}
.new3 {
    background: url(../img/new2.png);
    background-size: cover;
    background-position: center;
    display: block;
    height: 200px;
    width: 200px;
    margin: 10px 0;
}
/*картинки для навыков и курсов*/
.prew1 {
    background: url(../img/1.jpg);
    background-size: cover;
    background-position: center;
    display: block;
    height: 200px;
    width: 200px;
    margin: 10px 0;
}
.prew2 {
    background: url(../img/74e326698ee9f2dbde15560f29445b79.jpg);
    background-size: cover;
    background-position: center;
    display: block;
    height: 200px;
    width: 200px;
    margin: 10px 0;
}
.prew3 {
    background: url(../img/2.webp);
    background-size: cover;
    background-position: center;
    display: block;
    height: 200px;
    width: 200px;
    margin: 10px 0;
}
.prew4 {
    background: url(../img/4.jpg);
    background-size: cover;
    background-position: center;
    display: block;
    height: 200px;
    width: 200px;
    margin: 10px 0;
}
body{
   background-color: rgb(206, 229, 245);
   font-size: 18px;
}
h1 {
    font-size: 24 px;
}
h2{
    font-size: 20 px;
}
h3{
    font-size: 18 px;
}
h4{
    font-size:16 px ;
}
* {
    font-size: 16 px;
}

.content {display: flex;  }
main {width: 70%;}
aside {
    width: 30%;
    padding: 10px;
    background-color: #eaf4f5;
    text-align: center;
}

.img{
    width: 200px;               
    height: 200px;              
    background-size: cover;
    
}
.img1 {
     width: 200px;               
    height: 200px;              
    background-size: cover;
}
.menu ul {
    list-style: none;
    margin: 40px 0;
    background-color: #eaf4f5;
    display: flex;  
}
.menu a {
    display: block;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 18px;
    padding: 12px 10px;
    text-align: center;
}
.skills-grid,
.courses-grid {
    display: flex;
    gap: 20px; /*расстояние между элементами*/
    flex-wrap: wrap;
    margin: 20px 0;
}
.skills-item {
    flex:1 1 calc(33.333% - 20px);/*3 колонки*/
    min-width: 200px;
    text-align: center;
    box-sizing: border-box;
}
.skills-item img {
    background-size: cover;
    display: block;
    height: 200px;
    width: 200px;
    margin: 0 auto;
}

